@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    if (UsuarioLog.UsuarioLogueado != null) {
    <p>Ya iniciaste sesion @Html.Raw(UsuarioLog.UsuarioLogueado.nombreDeUsuario) !!</p>
    
   } else {
        <h1>Login</h1>
        <form method="post">
            <div>
                <label>Email</label>
                <input type="text" name="email" required />

            </div>
            <div>
                <label>Contraseña</label>
                <input type="password" name="password" required />

            </div>
            <input type="submit" value="submit" />
        </form>

        
            <a asp-action="Registrar">Registrarse
            </a>
            
   }
}

