@model Episodio

@{
    ViewData["Title"] = "Create";
}
@{
    if (UsuarioLog.UsuarioLogueado == null) {
    <p>Inicia sesion para ver esta pagina <a href="/cuenta">Iniciar Sesion</a></p>
    }
    else if (UsuarioLog.UsuarioLogueado.GetType().Name == "Paciente") {
    <p>Tienes que ser medico para ver esta pagina<a href="/Index">Regresar a Home</a></p>
    }
    else
    {
        <h1>Create</h1>

        <h4>Episodio</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Motivo" class="control-label"></label>
                        <input asp-for="Motivo" class="form-control" />
                        <span asp-validation-for="Motivo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DescripcionAtencion" class="control-label"></label>
                        <input asp-for="DescripcionAtencion" class="form-control" />
                        <span asp-validation-for="DescripcionAtencion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
        @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
    }

    }}
